{% extends 'trainer/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="row text-center"><h1>Sample Game 5</h1></div>
<div class="row padding-05em">
<p>As Game 5 begins, here are the scores so far in my best of 7 series with the Words With Friends&reg; AI.</p>

<ul>
<li><strong><a href="{% url 'trainer_article_sample_game_1' %}">Game 1</a></strong>: I won 391-333. </li>
<li><strong><a href="{% url 'trainer_article_sample_game_2' %}">Game 2</a></strong>: I won 469-402.</li>
<li><strong><a href="{% url 'trainer_article_sample_game_3' %}">Game 3</a></strong>: Our opponent won 384-378.</li>
<li><strong><a href="{% url 'trainer_article_sample_game_4' %}">Game 4</a></strong>: I won 427-352.</li>
</ul>

<p>Game 4 was was mine from start-to-finish. Our opponent pulled very close in the late-going, but they were stuck with a Q and had to sit helplessly while we played several small words to close out the game. Game 5 is do-or-die for our opponent -- I can win the series 4-1 if I win this game.</p>
</div>

<div class="row text-center"><h3>Move 1: EVECTION</h3></div>
<div class="row padding-05em">
<p class="lead text-center">52 points. Winning 52-8.</p>

<p>Our opponent has opened the game with <strong>LEV</strong> for 8 points.</p> 

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move1a_lev.png' %}" /></div>

<p>We have three options in reply -- we can try to play a word through <strong>LEV</strong>. We could play something with an O to make <strong>LEVO</strong>. Or we could look for something parallel to the LE in <strong>LEV</strong>.</p>

<p>Fortunately, we actually have two options to play 8-letter words and clear our rack. We could play <strong>ELECTION</strong>, or <strong>EVECTION</strong>. The latter choice scores slightly better for us. If there was a material difference in where the two words would cover, we might consider this more carefully, but both choices will play down to the second row from bottom, between the DW squares.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move1_evection.png' %}" /></div>

<p><strong>EVECTION</strong> will probably lead to a more open game, as well. The V in <strong>LEV</strong> would otherwise slow the action, since it can't make a 2-letter word. But we're enveloping that letter with this play, and removing that consideration from the game.</p>

<p>Our opponent might have a good replay to this play. However, 52 points and an early bonus are enough to allow us to take the chance.</p>
</div>

<div class="row text-center"><h3>Move 2: PUGREES</h3></div>
<div class="row padding-05em">
<p class="lead text-center">105 points. Winning 157-27.</p>

<p>Our opponent played <strong>HEXER</strong> for 19 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move2a_hexer.png' %}" /></div>

<p>The most fertile real estate on the board right now is the DW/DW row that passes through the N in <strong>EVECTION</strong>, or the row beneath it with the TW squares. Our opponent should have covered one of these rows, if only to deny them to us. Since we have a chance to use them, we should do so this turn, unless we can play all of our tiles elsewhere.</p>

<p>The S tile can be appended to <strong>EVECTION</strong>, giving us a shot at the bottom row. We can get a pretty good score with <strong>PURGES</strong>. This hits the TW square, puts a G on a TL square (it will be worth 27 points), and also gives us a nice bonus for getting the S to make <strong>EVECTIONS</strong>.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move2a_purges.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game5_move2_pugrees.png' %}" /></div>

<p>However, we can do something even better. <strong>PUGREES</strong> will use all of our letters and crack the 100 point barrier. Let's obviously do that -- it is the highest-scoring word in this entire series so far, and the only one to break 100 points.</p>
</div>

<div class="row text-center"><h3>Move 3: DONATOR</h3></div>
<div class="row padding-05em">
<p class="lead text-center">25 points. Winning 182-94.</p>

<p>Our opponent played <strong>EYESIGHT</strong> for 67 points. This game is off to a good start, with three 7-letter bonus words already.</p>

<p>At first glance, I don't think we can play our entire rack for a third straight time with the letters we have. But we need to check with the L in LEV, the E in <strong>EYESIGHT</strong>, the R and/or T in <strong>HEXER</strong> and <strong>EYESIGHT</strong>, or on the letters near the bottom of the board.</p>

<p>This is one of those turns that comes down to just searching for the best word in different areas of the board. The scope of play is already so open that it's going to be difficult to be too incautious with where we play to. The only real gaffe here is to play a low-value word into the final columns to the right, but is not where our highest-point moves are in any case, there's not a difficult decision to make.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move3_donator.png' %}" /></div>

<p>Our best play for points is <strong>DONATOR</strong>, which uses a DW and makes use of some 2-letter words on the side. This plays past a TW square, but that square was already in play in any case. In fact, adding an O in line with the R and T on the board might actually reduce the number of words that can play to this square.</p>
</div>

<div class="row text-center"><h3>Move 4: WAND</h3></div>
<div class="row padding-05em">
<p class="lead text-center">27 points. Winning 209-136.</p>

<p>The Words With Friends&reg; AI has played <strong>BLIPS</strong> for 42 points. We have a solid lead still, but we can't grow entirely complacent.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move4a_blips.png' %}" /></div>

<p>We don't have the letters to go for a bonus this round, but we do have a couple options. We could go for a longer word through the E in <strong>EYESIGHT</strong>, or the R in <strong>HEXER</strong>. One example would be to play <strong>ANGRY</strong>. Or, we could just try to play on one of the TW squares, with something like <strong>NA</strong>. The first option would have the advantage of cycling through more letters, and giving us a better draw for next turn.</p>

<p>However, we could combine these two ideas, playing a word like <strong>WANLY</strong> across from the top of <strong>HEXER</strong>. This would use a DW square and give us 33 points. It would also make it more difficult for our opponent to get a high score on the TW in lower-right (for instance, by playing a long word ending in ION).</p>

<p><strong>WANLY</strong> might create a new problem though. It puts the TW in upper-right into reach, with a TL square to exploit. Our opponent could score over 100 points with a word like <strong>CRAZY</strong>.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move4a_na.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game5_move4_wand.png' %}" /></div>

<p>Let's think about something like <strong>WAND</strong>, in that case. This will score 27 points for us while getting rid of some consonants. It will make it harder for our opponent to fully exploit either TW square, assuming they even have an S, which is the only letter that plays on the end of <strong>WAND</strong>. If they play down from the top-right, they probably can't score 100+ points in any case, because the TL would be right before an S, which would almost rule out a letter like J,Q,X, or Z.</p>

<p>At the same time, the constraint of having to play <strong>WANDS</strong> would limit the options for a truly huge score in the lower-right.</p>

<p>As for us, hopefully we draw a couple of vowels and get a better shot at making a long word next turn.</p>
</div>

<div class="row text-center"><h3>Move 5: AMYGDULE</h3></div>
<div class="row padding-05em">
<p class="lead text-center">54 points. Winning 263-172.</p>

<p>The Words With Friends&reg; AI has played <strong>JO</strong> for 36 points.</p>

<p>This still leaves the TW in lower-right open, and potentially worth substantial points. At the same time, it closes the TW in upper-right for the time being. Let's keep that in mind as we look at this board.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move5a_da.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game5_move5_amygdule.png' %}" /></div>

<p>Our set of letters, including a blank, puts us in good position this turn. With our letters alone, we can make <strong>GAUDILY</strong> or <strong>LADYBUG</strong>. If we include the board, we could play <strong>AMYGDULE</strong> into the E in <strong>EYESIGHT</strong>. <strong>AMYGDULE</strong> looks to be our only option for playing into the bonus this turn. It will make 54 points, and doesn't appear to give much counter-play.</p>

<p>In the lower-right, let's see what's the best we can do with either the TW squares before we make our final decision. The best we can do with the T and O is something like <strong>TROY</strong>, which is obviously unsuitable. We also can't really play anything from <strong>JO</strong> that will hit the TW, so the best we could do would be something like <strong>DA</strong>, which makes 23 points.</p>

<p><strong>AMYGDULE</strong> is far superior to these other options. It's way too early to play an entirely negative game, and the difference in scoring for doing so this turn is over 30 points. Let's do the obvious thing and go with our long word.</p>
</div>

<div class="row text-center"><h3>Move 6: SOUDANS</h3></div>
<div class="row padding-05em">
<p class="lead text-center">63 points. Winning 326-210.</p>

<p>Our opponent has played <strong>DAVIT</strong> for 38 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move6a_davit.png' %}" /></div>

<p>This has become a pretty open board again, and we have the firepower to take advantage this turn. Our letters alone can make three 7-letter words: <strong>SOUDANS</strong>, <strong>SULDANS</strong>, and <strong>SUNDAES</strong>. However, making an 8-letter word with the playable letters is a bit more of a challenge. We can't quite get there with the D, A, or V in <strong>DAVIT</strong> nor by playing into the ND in <strong>WAND</strong>.</p>

<p>If we're willing to use a blank, however, we can score 50 by turning <strong>JO</strong> into <strong>JOIN</strong>. And these 50 points would also serve a defensive purpose, blocking a potential easy score by our opponent.</p>

<p>However, before we do that, let's consider what might happen if we played <strong>SOUDANS</strong>, as pictured. We would score 63 this turn. We would also be opening up the top half of the board considerably.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move6_soudans.png' %}" /></div>

<p>In this scenario, though, there are so many openings that we are not really making ourselves vulnerable. If our opponent plays <strong>JOIN</strong> in the lower-right, we have two other TW squares that we can easily get to in the upper-right, as well as one in the upper-left (though it will be less valuable). In other words, the game will be open enough that both players can expect to score serious points over the next few rounds. With our lead, that's not a bad bet for us.</p>

<p>It is important to consider the replies that your opponent might make when paying into a new part of the board. However, don't automatically shy away from doing so. In this case, we're making a lot of points and will have ample opportunity to make a strong score for the next couple of turns ourselves.</p>
</div>

<div class="row text-center"><h3>Move 7: FA</h3></div>
<div class="row padding-05em">
<p class="lead text-center">35 points. Winning 361-249.</p>

<p>Our opponent has played <strong>SUQ</strong> for 39 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move7a_suq.png' %}" /></div>

<p>At first glance, our letters don't look that great. Specifically because we drew three T tiles. We could play a modest word like <strong>FATTY</strong> to rebalance the rack, but this would definitely leave us more exposed than our point total would warrant.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move7_fa.png' %}" /></div>

<p>Better to continue with our initial plan -- to match our opponent turn for turn at occupying TW squares. We can actually score pretty well with a simple <strong>IF/FA/PA</strong> combination, and perhaps a slightly different draw can leave us with a longer word next turn.</p>
</div>

<div class="row text-center"><h3>Move 8: KITED</h3></div>
<div class="row padding-05em">
<p class="lead text-center">20 points. Winning 381-289.</p>

<p>Our AI opponent has played <strong>HEAUME</strong> for 40 points.</p> 

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move8a_heaume.png' %}" /></div>

<p>Let's quickly notice that <strong>HEAUME</strong> has no 1-letter prefix. Thus, the lower-left corner is now pretty constricted. Neither player can reach the TW square, and neither player will really want to play into this zone without that benefit.</p>

<p>We have a K, but our letters are otherwise constrictive. Perhaps we can look more seriously at playing some T's this turn, since the TW squares are less compelling. One option would be to play <strong>KITED</strong>, for 20 points. Another would be to play <strong>TUTTI</strong>, but it would be worth only 7 and allow our opponent to combine <strong>QAT</strong> with some other word.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move8_kited.png' %}" /></div>

<p><strong>KITED</strong> would also be semi-defensive. The D in <strong>SOUDANS</strong> would no longer be a good base towards playing a word, potentially a bonus, along the DW/TL/TW row. Since we can't do that ourselves (if we could, we wouldn't be thinking about other options), we can at least make it impossible for our opponent to do so next turn. 20 points will be our lowest score in awhile, but hopefully we can pick it up next turn.</p>
</div>

<div class="row text-center"><h3>Move 9: NATRON</h3></div>
<div class="row padding-05em">
<p class="lead text-center">20 points. Winning 401-321.</p>

<p>Our AI opponent has played <strong>IF</strong> for 32 points. We are starting to approach the end of the game and series, holding a 60 point lead at this moment.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move9a_if.png' %}" /></div>

<p>We don't appear to have any high-value plays, and we would like to avoid doing anything to open up the far left column with the open TW. If we play <strong>NATRON</strong> right now, we occupy a DW square and close up much of the top-center of the board. We also keep the game from extending to the left.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move9_natron.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game5_move9a_natron.png' %}" /></div>

<p>Note, from the bar which Words With Friends&reg; provides, that this is almost our best possible play, point-wise, even though it only scores 20. We could also try <strong>ANNATTO</strong>, but it would extend us further left than is advisable at this stage of the game.</p>
</div>

<div class="row text-center"><h3>Move 10: ZOEA</h3></div>
<div class="row padding-05em">
<p class="lead text-center">99 points. Winning 500-355.</p>

<p>Our opponent has played <strong>CEBOID</strong> for 34 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move10a_ceboid.png' %}" /></div>

<p>We are now in full-on closing mode. Our first priority this turn will be to get rid of the Z for any modest score that we can, so that we don't suffer a 20-point swing if our opponent plays their last tile.</p>

<p>To play this Z, we're looking at one of two places to maximize the score: the I in <strong>DAVIT</strong> and the E in <strong>CEBOID</strong>. Both of these have TW squares, and the E row still has a TL as well. In fact, our biggest hope this turn is that there is a word we can play that goes Z_E_ so that we can make our Z worth 90 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move10_zoea.png' %}" /></div>

<p>It just so happens that there is. <strong>ZOEA</strong> is a valid word, and it gives us 99 points! Obviously this will be our move this turn.</p>

<p>Normally, one should avoid playing a word between a TL and TW square at all costs, for exactly this reason. There is always the chance of an overwhelming response from one's opponent.</p>

<p>In this case, however, I can see the rationale for our opponent's move. We are so close to the end of the game that our opponent had to take some chances. It just didn't work out in this case.</p>
</div>

<div class="row text-center"><h3>Move 11: THERME</h3></div>
<div class="row padding-05em">
<p class="lead text-center">12 points. GAME OVER. I won 518-378.</p>

<p>Our opponent combined <strong>LAW</strong>, <strong>MAY</strong>, and <strong>EWE</strong> to make 29 points. It's probably not possible for them to catch up at this point, but let's see how we can end this as soon as possible.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game5_move11_therme.png' %}" /></div>

<p>With the letters in our rack we could make <strong>THERM</strong> and end the game -- if only there were a place to put them. However, we can make a slight adjustment and play <strong>THERME</strong> on the E in <strong>HEAUME</strong>.</p>

<p>This move will score 12 points, close out the game, and win the entire series for us. Not bad.</p>
</div>

<div class="row text-center"><h3>Conclusion/Thoughts</h3></div>
<div class="row padding-05em">
<p>I won the series against the Words With Friends&reg; AI by a score of 4-1. Frankly, the AI needed a gaffe on my part, combined with a near-miracle, to even take the game that it did.</p>

<p>For a player who is in the beginner to late-intermediate level of learning the game, the AI can make a fine opponent. However, it consistently did not seem capable of playing with me in this series. Granted, in case you're forgotten, I've been using a <a href="{% url 'trainer_get_matching_words' %}">lookup tool</a> this entire time. However, the AI also has this advantage, which was the entire point. I wanted this series to come down to choosing the most strategic word (and not just the highest-scoring word in isolation). Points are one aspect of this, but positioning, defense, and letter distribution are others. It seems in many cases that our opponent came up short on these  aspects of the game.</p>

<p>Perhaps, at a future date, I will play a series against a human opponent and document it like this, with the same rules. Both of us would be able to cheat on looking up words basically <em>ad infinitum</em>, so that the game came down to position and playing the best sets of letters. Perhaps that might proceed differently.</p>

<p>In any case, here is the full list of games in this series. I hope you enjoyed it!</p>

<ul>
<li><strong><a href="{% url 'trainer_article_sample_game_1' %}">Game 1</a></strong>: I won 391-333.</li>
<li><strong><a href="{% url 'trainer_article_sample_game_2' %}">Game 2</a></strong>: I won 469-402.</li>
<li><strong><a href="{% url 'trainer_article_sample_game_3' %}">Game 3</a></strong>: Our opponent won 384-378.</li>
<li><strong><a href="{% url 'trainer_article_sample_game_4' %}">Game 4</a></strong>: I won 427-352.</li>
<li><strong><a href="{% url 'trainer_article_sample_game_5' %}">Game 5</a></strong>: I won 518-378.</li>
</ul>
</div>

{% endblock %}