{% extends 'trainer/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="row text-center"><h1>Sample Game 4</h1></div>
<div class="row padding-05em">
<p>As Game 4 begins, here are the scores so far in my best of 7 series with the Words With Friends&reg; AI.</p>

<ul>
<li><strong><a href="{% url 'trainer_article_sample_game_1' %}">Game 1</a></strong>: I won 391-333. </li>
<li><strong><a href="{% url 'trainer_article_sample_game_2' %}">Game 2</a></strong>: I won 469-402.</li>
<li><strong><a href="{% url 'trainer_article_sample_game_3' %}">Game 3</a></strong>: Our opponent won 384-378.</li>
</ul>

<p>Game 3 was was mine from start-to-finish, except for the turn that counts the most. Let's see if we can win Game 4 and take a commanding 3-1 lead.</p>
</div>

<div class="row text-center"><h3>Move 1: BENNE</h3></div>
<div class="row padding-05em">
<p class="lead text-center">21 points. Winning 21-5.</p>

<p>Our opponent opens the game with <strong>AGO</strong> for 5 points.</p>

<p>Most likely they have a bad letter distribution or something to prevent a longer word. Playing a very short word on the opening turn can be a good strategy if you can't make a 7-letter word and bonus out. In this case, you're more concerned with balancing your rack between vowels and consonants, and giving yourself the best chance to draw a 7-letter word on your second move.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move1a_henbane.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move1_benne.png' %}" /></div>

<p>Our own rack is consonant-heavy and duplicates some letters. But can we work with <strong>AGO</strong> to bonus out this turn? It turns out we cannot. We can get rid of six letters, however, by playing <strong>ENNOBLE</strong> or <strong>HENBANE</strong>. <strong>HENBANE</strong> is worth 20 points and opens some of the board for us. However, we do risk a response by the AI that would use the TW, DW, or both in the row with H.</p>

<p>Better would be to play <strong>BENNE</strong>, while affixing to <strong>AGON</strong>. This scores 21 points and, more importantly, does not give our opponent the ability to hit a TW on their next turn (<strong>BENNE</strong> has no one-letter prefix). Let's go with that move instead.</p>
</div>

<div class="row text-center"><h3>Move 2: HALER</h3></div>
<div class="row padding-05em">
<p class="lead text-center">24 points. Winning 45-15.</p>

<p>Our opponent has played <strong>PE</strong> for 10 points. I'm not sure I see the rationale behind this, but let's see what we can do in return.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move2a_pe.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move2_haler.png' %}" /></div>

<p>We should like to play something from the P to the TW square, but it is not possible with the letters we have. In fact, since we only have one vowel on our rack, the best chance is probable to look at playing through the A or O in <strong>AGON</strong>, or the first E in <strong>BENNE</strong>. If we do this, we can play <strong>HALER</strong>, which puts our H on a TL square and makes a decent score of 24 points.</p>
</div>

<div class="row text-center"><h3>Move 3: SHMEARS</h3></div>
<div class="row padding-05em">
<p class="lead text-center">85 points. Winning 130-25.</p>

<p>Our AI opponent has played <strong>GIEN</strong> for 10 points. I'm starting to wonder if it doesn't have a loose wire this game. So far, it is averaging under 10 points a move, and not being particularly smart in its positioning either.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move3_shmears.png' %}" /></div>

<p>But no matter. We are going to be scoring big this turn. There are no less than 13 7-letter words we can make with our rack alone. And, if we wanted to, we could play <strong>GAMASHES</strong> with the G in <strong>GIEN</strong>. What are the 7-letter words we could make? Here is a list: <strong>MARSHES</strong>, <strong>MASHERS</strong>, <strong>MASHIES</strong>, <strong>MESSIAH</strong>, <strong>SACHEMS</strong>, <strong>SAMECHS</strong>, <strong>SAMEKHS</strong>, <strong>SCHEMAS</strong>, <strong>SHAMMES</strong>, <strong>SHMEARS</strong>, <strong>SMASHED</strong>, <strong>SMASHER</strong>, <strong>SMASHES</strong>.</p>

<p>So which one to play, and where? If we play on S at the end of <strong>AGON</strong>, we could play <strong>SACHEMS</strong>, <strong>SHAMMES</strong>, <strong>SHMEARS</strong>, <strong>SMASHED</strong>, <strong>SMASHER</strong>, and <strong>SMASHES</strong>. I won't elucidate on the list for playing <strong>BENNES</strong>, but it is similar. Both of these sets would play into a TL/DW combination. However, if we play down from <strong>AGON</strong>, we will end one row short of the bottom, and give our opponent limited counter-play. On the other, if we were to play something like <strong>SMASHER</strong> to the right of <strong>BENNES</strong>, the R would hang in the last column, giving our opponent a good chance to make a TW score.</p>

<p>So let's play something down from <strong>AGONS</strong>, and let's get a good letter on the TL square to maximize our score. The word that does this best is <strong>SHMEARS</strong>.</p>
</div>

<div class="row text-center"><h3>Move 4: AUGITE</h3></div>
<div class="row padding-05em">
<p class="lead text-center">26 points. Winning 156-49.</p>

<p>Our AI opponent has played <strong>VIPER</strong> for 24 points.</p>

<p>We have a nice lead, and openings all over the board. Our letters alone can't make a big word, but we have plenty on the board to combine them with. But, since our problem is too many vowels, let's put our particular focus on the G in <strong>GIEN</strong>. Here we have a TL/DW combination, or even a TW if we can find the right word. After looking through what we can do, one word that stands out is <strong>AUGITE</strong> (a couple other candidates are <strong>GAIETY</strong> and, less promising, <strong>GUTTAE</strong>).</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move4_augite.png' %}" /></div>

<p>This would put a U in the TL square, maximizing our score. It would also get rid of mostly vowels, so we can rebalance our rack for what promises to be an open board next turn. And it doesn't expose us to a big reply. We would prefer to not leave a Y on our rack, but we can't unload it without leaving the similarly undesirable U.</p>

<p>Overall, I feel pretty good about this move.</p>
</div>

<div class="row text-center"><h3>Move 5: PARODY</h3></div>
<div class="row padding-05em">
<p class="lead text-center">42 points. Winning 198-75.</p>

<p>Our opponent has played <strong>TWAIN</strong> for 26 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move5a_twain.png' %}" /></div>

<p>We drew a second Y, which is going to make it hard to play our rack out. <strong>TWAIN</strong> opens a lane to the TW in bottom-right, but it's going to be hard for us to make a very worthwhile word to take advantage. Something like <strong>NARY</strong> would make us 21 points. A more baroque option would be to play <strong>TARDYON</strong> for 22 points, forestalling a move to the TW by our opponent next turn.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move5a_tardyon.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move5_parody.png' %}" /></div>

<p>However, sometimes it's possible to get too cute at playing defense and denying opportunities. If we focus on the row from the P in <strong>VIPER</strong> to the edge of the board, we actually have a very strong play there -- <strong>PARODY</strong>. This gives us 42 points, occupies a premium square, and offloads most of our letters.</p>
</div>

<div class="row text-center"><h3>Move 6: Exchange 7 letters</h3></div>
<div class="row padding-05em">
<p class="lead text-center">0 points. Winning 198-101.</p>

<p>Our opponent has played <strong>WOE</strong> for 26 points.</p>

<p>Our rack is horrible. No vowels. A J with no O to play it on. Three T's. Here we can "cheat" a little bit, and let Words With Friends&reg; tell us the potential of this rack. If we make the word <strong>DUTY</strong>, which is worth 17 points, a bar comes up telling us that this is one of the best words we can make. Let's not bother to find the word worth 2-3 more points. Rather, let's take this as a sign that we should swap our letters.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move6a_woe.png' %}" /></div>

<p>Why not keep the J, since it's worth 10 points? At this point, we can be pretty hopeful that we can bonus next turn with the right draw, given the shape of the board right now. Keeping the J will make this more difficult, and we don't have an O on the board where we could play <strong>JO</strong> and use the J twice in close quarters, which can sometimes help to run up the score with the high-value letters.</p>

<p>Better at this point to swap all seven.</p>
</div>

<div class="row text-center"><h3>Move 7: TUFA</h3></div>
<div class="row padding-05em">
<p class="lead text-center">18 points. Winning 216-133.</p>

<p>Our opponent has played <strong>REM</strong> for 32 points.</p>

<p>Our draw is alright, but too U-heavy. We could just make a simple play like <strong>FEAR</strong>, into the R in <strong>PARODY</strong>, for 21 points. But it would leave us with an odd set of letters.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move7_tufa.png' %}" /></div>

<p>It's still too early to give up the ghost on drawing for 7-letters. We have a huge amount of open space in the lower-left that we can hope to exploit right now. A better 3-letter stem to draw at a long word would be ENU (as opposed to NUU).</p>

<p>A word that will do this for us is <strong>TUFA</strong>. If we line it up with <strong>AUGITE</strong>, we score a decent-enough 18 points. But unlike the 17 point word we turned down last time (<strong>DUTY</strong> in Move 6), this time we leave ourselves with a good building block for next turn.</p>
</div>

<div class="row text-center"><h3>Move 8: UNITE</h3></div>
<div class="row padding-05em">
<p class="lead text-center">48 points. Winning 264-159.</p>

<p>Our opponent has played <strong>DOMINATE</strong> for 26 points.</p>

<p>We don't have the ability to make a 7-letter word, but our opponent's play has opened up the TW by the E in <strong>DOMINATE</strong>. Not only can we make a good score here, but we should occupy it before our opponent can. If can continue to play out our letters and make good words, we should be able to run out this game and take a 3-1 lead in the series.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move8_unite.png' %}" /></div>

<p>We could play <strong>UNITES</strong> for 51 points, but it's a little better to play <strong>UNITE</strong> for 48 and save our S tile for later. It will be worth much more than 3 points on a subsequent turn. The points from this word come not only from the TW square, but from the string of two-letter words that it makes with <strong>DOMINATE</strong>. This is a textbook example of how a good grasp of these words will really pay off.</p>

<p>This is yet another case where the AI has overextended its tiles into a strange area of the board. It obviously has a good vocabulary, but it is just as obvious that vocabulary is only a part of success at Words With Friends&reg;, and in some other areas the AI has proven itself to be a bit lacking.</p>
</div>

<div class="row text-center"><h3>Move 9: CLODS</h3></div>
<div class="row padding-05em">
<p class="lead text-center">20 points. Winning 284-201.</p>

<p>Our opponent has played <strong>NIXY</strong> for 42 points.</p>

<p>We ended last turn with SC on our rack. C can be a bit of an iffy letter for making long words, but we hit on this draw. The letters on our rack alone can make <strong>CODDLES</strong> and <strong>SCOLDED</strong>. However, we need something more to hook into.</p>

<p>This is where things can get tricky. Normally the S on <strong>SHMEARS</strong> might help to pluralize a word on our rack, but not in this particular case. The A in <strong>TUFA</strong> can't be used because we would need to either make SA or CA. The V in <strong>VIPER</strong> does not play well with our rack. In short, it looks like we might not have a place to put the word spent the last two turns drawing for. Such is life.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move9_clods.png' %}" /></div>

<p>Let's turn our attention to winning this game. We need to do two things at once -- score points and keep the board relatively closed. For this purpose, I like playing <strong>CLODS</strong> along the second row from bottom. This scores 20 points and it occupies a DW square. The C in <strong>CLODS</strong> also makes the space to the left harder to play moving forward. Remember that there is no two-letter word that be played with C. And finally, we might not be able to play a 7-letter word if we draw one next turn, but <strong>DES</strong> is a decent <a href="{% url 'trainer_n_letter_word_stems' 3 %}">3-letter</a> word stem.</p>
</div>

<div class="row text-center"><h3>Move 10: FLASHED</h3></div>
<div class="row padding-05em">
<p class="lead text-center">19 points. Winning 303-230.</p>

<p>Our AI opponent has played <strong>SALVO</strong> for 29 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move10a_salvo.png' %}" /></div>

<p>The first question is whether we should try for a word from the A in <strong>SALVO</strong> down to the TW square. However, we can only play something that is five letters or less (<strong>ABLED</strong>, <strong>ALEFS</strong>, etc.), and doing so would open another TW square and probably lead to a new loss of points against our opponent.</p>

<p>We can continue to lock the board down by playing <strong>FLAB</strong> or <strong>FLASHED</strong> into the A in <strong>AUGITE</strong>. This would make it harder to get a clean word into top-left of the board, and it would limit the length of a word that could be played in the first column with the TW. Since <strong>FLASHED</strong> has no prefix, we could effectively be blocking that column in the upper direction, which would help limit the action and reduce the volatility of the board. Playing <strong>FLASHED</strong> would also take six more letters out of the Tile Bag, bringing us more closely to the end of the game.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move10_flashed.png' %}" /></div>

<p>As we did last turn with <strong>CLODS</strong>, we hope to make it more and difficult from here on out for our opponent to be creative and attacking. It is worth noting, however, that our opponent hampered themselves as well with the V in <strong>VIPER</strong>, which they played earlier for a modest score. Now the V serves to make play in the upper-right of the board very constrained. If you are behind in a game, be careful about making any words which might constrain the action on the board -- your opponent will be doing plenty of that for both of you.</p>
</div>

<div class="row text-center"><h3>Move 11: BIJOU</h3></div>
<div class="row padding-05em">
<p class="lead text-center">22 points. Winning 325-262.</p>

<p>Our AI opponent played <strong>JEE</strong> for 32 points.</p>

<p>The J in <strong>JEE</strong> does open the top row a bit, but there are not many words longer than 4 letters which contain a J towards the end (<strong>GANJA</strong>, <strong>NINJA</strong>, <strong>SHOJI</strong>). There is certainly nothing we can make right now that would use the TW. However, we should try to deny even the minimal chance of our opponent doing something there. Furthermore, it's not as if making a word J in it will lead to a terrible score for us.</p>

<p>A simple option is to play <strong>JOB</strong>. This would make 23 points, and there is nothing available for our opponent to play in return besides <strong>BLOWJOB</strong> (I know). However, even this word is rendered impossible by what remains in the Tile Bag.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move11a_job.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move11_bijou.png' %}" /></div>

<p>However, if we get a little more creative, we can actually play <strong>BIJOU</strong> in this row. <strong>BIJOU</strong> has no one-letter or multi-letter prefix. It is worth 22 points, but in return for giving up a point from <strong>JOB</strong>, we definitively block the TW square from being used this game. We also play four letters instead of two, which brings us closer to ending this game.</p>

<p>For these reasons, let's play <strong>BIJOU</strong>.</p>
</div>

<div class="row text-center"><h3>Move 12: ZA</h3></div>
<div class="row padding-05em">
<p class="lead text-center">38 points. Winning 363-285.</p>

<p>Our opponent has played <strong>OHO</strong> for 23 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move12a_oho.png' %}" /></div>

<p>We have drawn a Z and a bunch of other consonants. We would like to make the most of this letter, and particularly we want to avoid getting stuck with it when the game ends. And, based on the fact that <strong>ZA</strong> is a word, we can consider playing it on a TW square, into <strong>FLASHED</strong>, as pictured.</p>

<p>If we do play <strong>ZA</strong>, we will be drawing the last two letters from the Tile Bag, leaving us with a 7-letter rack. Those who have read the summary of Game 3 will have seen the risk of 
doing something like this. If our opponent were to play all seven tiles next turn, they would end the game and could take a huge number of points from our score. However, in this game we are thinking more carefully about this possibility, and if we look at the Tile Bag we can conclude that it is safe to play <strong>ZA</strong>.</p>

<p>Simply put, the Tile Bag is ugly. There is only one vowel, along with a Q, C, and K. It is simply not possible to play a 7-letter word with these tiles. There is also nowhere on the board that suggests where such a word might even play. There is also the chance that, if we don't play on the TW, that our opponent could figure out some way to use it. So let's play <strong>ZA</strong> and take the 38 points.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move12_za.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move12a_tilebag.png' %}" /></div>

<p>Given the number of consonants left, we can expect a few more turns before this game is over. I am expecting a pretty drawn-out, ugly affair before this ends. However, our lead should be pretty safe on a closed board. Let's see.</p>
</div>

<div class="row text-center"><h3>Move 13: DE</h3></div>
<div class="row padding-05em">
<p class="lead text-center">18 points. Winning 381-351.</p>

<p>Our opponent played <strong>ARCKED</strong> for 66 points. Nice play, and it makes this game close for the first time since it started.</p>

<p>The bad news is, our opponent scored many more points than I thought likely with a consonant-stacked rack. They were lucky to get the final E in this case.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move13a_arcked.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move13a_tilebag.png' %}" /></div>

<p>The good news is, our opponent is also stuck with the final Q. In fact, they have a Q and S on their rack. This leaves us with a very limited number of words that we have to guard against -- basically <strong>QI</strong>, <strong>QIS</strong>, <strong>SUG</strong>, <strong>QAT</strong>, <strong>QATS</strong>.</p>

<p>Looking at the board, it's not at all obvious where this might happen. There are no open I or U tiles that can be played on. So as long as we don't help them by committing a blunder (somehow?), they will probably be forced to pass after playing their S. Thus, our primary focus should be on playing our own tiles, and our secondary focus should be on making our opponent's S tile less valuable.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move13a_pet.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move13_dominated.png' %}" /></div>

<p>My first impulse was simply to play <strong>PET</strong>, and prevent our opponent from playing <strong>TWAINS</strong>. But, the Words With Friends&reg; meter tells us there is something much more valuable on the board. Even with <strong>DOMINATED/DE</strong>, we are being told the same. However, my closure skills will have to be exposed here as imperfect. Of the words I can see, <strong>DOMINATED</strong> blocks a good play by our opponent, and scores a perfectly reasonable number of points for this stage in the game.</p>
</div>

<div class="row text-center"><h3>Move 14: PUTT</h3></div>
<div class="row padding-05em">
<p class="lead text-center">9 points. Winning 390-362.</p>

<p>Our opponent has played <strong>SALVOS</strong> for 11 points. The only letter they have left is a Q. I believe that we can just play as many letters as we can to run out the clock on this game.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move14a_salvos.png' %}" /> <img class="img-article" src="{% static 'trainer/images/game4_move14_putt.png' %}" /></div>

<p>We can play <strong>PUTT</strong> for 9 points, which gets rid of two letters.</p>
</div>

<div class="row text-center"><h3>Move 15: GROG</h3></div>
<div class="row padding-05em">
<p class="lead text-center">11 points. Winning 401-362.</p>

<p>Our opponent has passed. Sure enough, we can keep doing our thing here until the game is over.</p>
</div>

<div class="row text-center"><h3>Move 16: UNITER</h3></div>
<div class="row padding-05em">
<p class="lead text-center">8 points. Winning 409-362.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move16_uniter.png' %}" /></div>

<p>Our opponent has passed. We'll add an R to <strong>UNITE</strong> to play <strong>UNITER</strong>.</p>
</div>

<div class="row text-center"><h3>Move 17: BET</h3></div>
<div class="row padding-05em">
<p class="lead text-center">8 points. GAME OVER. I won 427-352.</p>

<div class="text-center margin-05em"><img class="img-article" src="{% static 'trainer/images/game4_move17_bet.png' %}" /></div>

<p>Our opponent passed again, and we played <strong>BET</strong> to end the game. Except for the brief moment when our opponent played <strong>ARCKED</strong>, we looked to be winning this game from start to finish.</p>
</div>

<div class="row text-center"><h3>Conclusion/Thoughts</h3></div>
<p>I'm honestly a little mystified at how our opponent got off to such a slow start in this game. Except for the first three moves, this was actually a pretty even game. I have read that the Words With Friends&reg; AI is supposed to adjust to your playing ability. I am starting to wonder if this happens on a game-by-game basis, rather than continually over time. It seems that the AI has continued to start very slowly, and then play itself back into the game late. Had we been stuck with the Q instead of our opponent in the endgame, we still might actually have lost. After all, we only had a 12-point lead once they played <strong>ARCKED</strong>.</p>

<p>Of course, all of this is based on a very small sample size. Our opponent could have just had bad letters during the opening. We ran through the vowels quickly -- perhaps the AI was stuck with a 5-7 vowel rack on a couple of turns at the beginning, and really had no better moves than what it played.</p>

<p>We are now winning the series 3-1. Initially, I was going to give myself the first move in Game 5. However, there's no law forcing me to do that, and I would like to see the opponent play first one more time before this series is over. Specifically, I would like more clarity on my suspicions from the previous two paragraphs. So far, it seems like I am clearly likely to win the series, so I would rather play with a 2-3-2 format to give the opponent another chance to move first. This means that the AI will move first in Game 5, and if there is a Game 6 and 7, I will move first in both of those.</p>

<p>Let's see if I can close this out in <a href="{% url 'trainer_article_sample_game_5' %}">Game 5</a>, or if our opponent can prolong this series to six games.</p>
</div>

{% endblock %}