{% extends 'trainer/base.html' %}

{% block body %}
<div class="row text-center"><h1>External Resources</h1></div>

<div class="row padding-05em">
<p>There are numerous resources dedicated to winning at word games. Below is only a small sample.</p>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
    <h3>Software</h3>
    <p>Both of the following programs are freely available online, and are dedicated to advancing your ability at Scrabble. Zyzzyva does require a membership in the North American Scrabble Players Association, however, to use the Scrabble dictionary.</p>

    <ul class="list-margin-05em">
    <li><span class="lead"><a href="http://people.csail.mit.edu/jasonkb/quackle/">Quackle</a></span></li>
    <li><span class="lead"><a href="http://www.scrabbleplayers.org/w/Zyzzyva">Zyzzyva</a></span></li>
    </ul>
    </div>


    <div class="col-sm-offset-1 col-sm-10">
    <h3>Web Resources</h3>
    <ul class="list-margin-05em">
    <li><span class="lead"><a href="http://www.scrabulizer.com/">Scrabulizer</a></span></br>A tool to set up a board layout and search for the best plays.</li>
    <li><span class="lead"><a href="http://pages.cs.wisc.edu/~o-laughl/collins/all/">O’Laughlin playability</a></span></br>List of words, ranked by O'Laughlin playability.</li>
    <li><span class="lead"><a href="http://pages.cs.wisc.edu/~o-laughl/collins/csw-playability.txt">O'Laughlin/Collins Playability List</a></span></br>Another O'Laughlin list.</li>
    <li><span class="lead"><a href="http://nojesusnopeas.blogspot.com/2012/03/differences-between-words-with-friends.html">Differences Between Words With Friends and Scrabble</a></span></li>
    <li><span class="lead"><a href="http://www.eugenedeon.com/scrabble/">Eugene d'Eon on Tournament Scrabble</a></span></li>
    <li><span class="lead"><a href="http://www.science20.com/brain_trust_diy_science_today039s_top_minds/scrabble_champs_words_friends_secrets-88540">A Scrabble Champ's Words With Friends Secrets</a></span></li>
    <li><span class="lead"><a href="http://wordswithfriendsmytips.blogspot.com/2011/02/words-with-friends-my-tips.html">Words With Friends Tips</a></span></li>
    <li><span class="lead"><a href="http://www.jamesvernacotola.com/Other/Non-Photography-Resources/Words-With-Friends-Tips/">More Words With Friends Tips</a></span></li>
    </ul>
    </div>


    <div class="col-sm-offset-1 col-sm-10">
    <h3>Books</h3>
    <p>Most of the serious printed literature is aimed at the Scrabble&reg; market. While the board is different, and the word lists are not 100% interchangeable, they are directionally similar.</p>

    <ul class="list-margin-05em"> 
    <li><span class="lead">Joe Edley, John Williams - <a href="http://www.amazon.com/exec/obidos/ASIN/1416561757/amhius20-20">Everything Scrabble: Third Edition</a></span></li>
    <li><span class="lead">Joel Wapnick - <a href="http://www.amazon.com/exec/obidos/ASIN/1402770774/amhius20-20">How to Play SCRABBLE Like a Champion</a></span></li>
    <li><span class="lead">Stefan Fatsis - <a href="http://www.amazon.com/exec/obidos/ASIN/B00C4GX69A/amhius20-20">Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players</a></span></li>
    <li><span class="lead">Mike Baron, Brian Cappelletto - <a href="http://www.amazon.com/exec/obidos/ASIN/1402750862/amhius20-20">SCRABBLE Wordbook   </a></span></li>
    <li><span class="lead">Robert Gillis - <a href="http://www.amazon.com/exec/obidos/ASIN/0971947309/amhius20-20">Bob's Bible: Words, Anagrams and Hooks</a></span></li>
    <li><span class="lead">Saleem Ahmed - <a href="http://www.amazon.com/exec/obidos/ASIN/141650544X/amhius20-20">The Scrabble Word-Building Book: Updated Edition</a></span></li>
    </ul>
    
    </div>


</div>
{% endblock %}