<div class="row">
<div class="top_menu_bar text-center">
<span class="header_link"><a href="{% url 'home' %}">HOME</a></span>
<span class="header_link"><a href="{% url 'trainer_get_matching_words' %}">LOOKUP TOOL</a></span>
<span class="header_link"><a href="{% url 'trainer_tools_home' %}">LEARNING TOOLS</a></span>
<span class="header_link"><a href="{% url 'trainer_word_lists' %}">WORD LISTS</a></span>
<span class="header_link_end"><a href="{% url 'trainer_external_resources' %}">RESOURCES</a></span>
</div>
</div>