{% extends 'trainer/base.html' %}
{% load i18n widget_tweaks %}

{% block body %}
<!-- Modal (see http://getbootstrap.com/javascript/#modals-examples) -->
<div class="modal fade" id="showAllModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are You Sure?</h4>
      </div>
      <div class="modal-body">
      End this round and calculate your final score?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" id="final_score_button">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="row"><h1 class="text-center">Tools - Words by Length and Stem</h1></div>

<div class="row">
<div class="col-sm-offset-2 col-sm-8 text-center" id="word_letter_intro">
<p>Given a word length and a stem, enter as many valid words as you can. For example, a valid 3-letter word ending in "AR" is CAR. A valid 5-letter word beginning with "CAR" is CARED.</p>
</div>
</div>

<div class="row">
<div class="text-center">
{% if stem_type == 'beginning' %}
<p class="lead">In this round, find all <strong>{{ word_length }}-letter</strong> words which <strong>start</strong> with <strong>{{ word_stem }}</strong>.</p>
{% else %}
<p class="lead">In this round, find all <strong>{{ word_length }}-letter</strong> words which <strong>end</strong> with <strong>{{ word_stem }}</strong>.</p>
{% endif %}
</div>
</div>

<div class="row">
<div class="col-sm-7 col-sm-offset-3" id="word_letter_destination">
{% if stem_type == 'beginning' %}<span class="word_letter_large_font"><strong>{{ word_stem }}</strong></span>{% endif %}
<input id="word_letter_submit_input" class="word_letter_large_font" type="text" maxlength="{{ letters_to_enter }}" placeholder="ENTER to submit"></input>
{% if stem_type == 'ending' %}<span class="word_letter_large_font"><strong>{{ word_stem }}</strong></span>{% endif %}
</div>
</div>

<div class="row margin-top-1em" id="word_letter_buttons_2">
    <div class="col-sm-offset-5 col-xs-offset-1">
    <button type="submit" id="word_letter_submit" class="btn btn-success">Submit Word</button>
    <button type="submit" id="word_letter_finish" class="btn btn-warning" data-toggle="modal" data-target="#showAllModal">Show All</button>
    </div>
</div>


<div class="row">
<div class="col-sm-10 col-sm-offset-1" id="word_match_area">
<h3 class="text-center"><span id="word_letter_point_count">0</span> points</h3>
<ul class="list-unstyled" id="word_matches_guessed_list">
<li><strong>Matching Words:</strong> <span class="word_match_by_letter" id="word_match_by_length_and_stem"></span></li>
</ul>
</div>
</div>


<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<h3 class="text-center">Scoring System</h3>
<ul class="list-unstyled">
<li>Gain 3 points for a correct guess.</li>
<li>Lose 1 point for an incorrect guess.</li>
<li>Lose 1 point, at the end, for every word not guessed.</li>
</ul>
<p>We will calculate your final score, and % of possible points scored, when you click "Show All".</p>
</div>
</div>


<div class="row" id="find_all_words_options">
<h3 class="text-center">Get New Letters</h3>
    <div class="col-sm-10 col-sm-offset-2">
    <form class="form-inline" role="form" action="{% url 'trainer_tools_words_by_length_and_stem' %}" method="get">
        {% for field in options_form %}
            {% if field.errors %}
                <div class="form-group has-error">
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                    <div>
                        {{ field|attr:"class:form-control" }}
                        <span class="help-block">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% elif field.field.widget.input_type == 'number' %}
                <div class="form-group">
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field|attr:"class:form-control" }}
                        {% if field.help_text %}
                            <p class="help-block"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                </div>
            {% else %}
                <div class="checkbox">
                    <input type="checkbox" id="id_{{ field.name }}" name="{{ field.name }}" {% if field.value == True %}checked{% endif %}><label for="id_{{ field.name }}"> {{ field.label }}</label>
                </div>
            {% endif %}
        {% endfor %}
        </br><div class="form-group col-sm-offset-4">
            <button type="submit" class="btn btn-success">{% trans "Get New Letters" %}</button>
        </div>
    </form>
    </div>
</div>


{% endblock %}


{% block scripts %}
{% load staticfiles %}
<script type="text/javascript">
wordsByLengthStem_temp = {};
wordsByLengthStem_temp.word_matches = {% autoescape off %}{{ word_matches }}{% endautoescape %};
wordsByLengthStem_temp.total_word_count = {{ total_word_count }};
wordsByLengthStem_temp.word_stem = '{{ word_stem }}';
wordsByLengthStem_temp.stem_type = '{{ stem_type }}';
wordsByLengthStem_temp.letters_to_enter = {{ letters_to_enter }};
wordsByLengthStem_temp.total_point_count = 0;
</script>
<script src="{% static 'trainer/js/words_by_length_and_stem.js' %}"></script>
{% endblock %}